.place__paragraph {
    max-width: 484px;
    font-weight: 400;
    font-size: 18px;
    line-height: 29.34px;
    color: white;
    margin-top: 0;
}

.place__paragraph:last-child {
    margin-bottom: 0;
    margin-top: 0;
}

@media screen and (max-width: 1024px) {
    .place__paragraph {
        max-width: 456px;
        line-height: 26.08px;

    }

}

@media screen and (max-width: 768px) {
    .place__paragraph {
        max-width: 352px;
        font-size: 16px;

    }
}

@media screen and (max-width: 320px) {
    .place__paragraph {
        max-width: 288px;
        margin-left: 16px;
    }
}