.website__url-heading {
  max-width: 456px;
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: white;
}

@media screen and (max-width: 768px) {
  .website__url-heading {
    max-width: 352px;
  }
}

@media screen and (max-width: 320px) {
  .website__url-heading {
    max-width: 288px;
  }
}