.lead__subtitle {
    max-width: 640px;
    width: 100%;
    min-height: 72px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    align-self: center;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 0;
    color: white;
}
  @media (max-width : 320px) {
    .lead__subtitle {
    max-width: 288px;
    width: 100%;
    min-height: 40px;
    font-size: 16px;
    line-height: 20px;
    margin-top: 16px;
    }
  }
