.lead__caption {
    max-height: 14px;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: white;
    margin-top: 8px;
    margin-bottom: 0px;
    text-align: left;
    letter-spacing: .2rem;
    white-space: nowrap;
}

@media screen and (max-width: 768px) {
    .lead__caption {
        margin-left: 24px;
        margin-right: 586px;
    }
}

@media screen and (max-width: 320px) {
    .lead__caption {
        margin-left: 16px;
        margin-right: 146px;
    }
}